@-webkit-keyframes scrollText1 {
    0% {
        -webkit-transform: translateY(0em);
    }

    10% {
        -webkit-transform: translateY(-2.95em);
    }

    20% {
        -webkit-transform: translateY(-5.9em);
    }

    30% {
        -webkit-transform: translateY(-8.85em);
    }

    40% {
        -webkit-transform: translateY(-11.8em);
    }

    50% {
        -webkit-transform: translateY(-14.75em);
    }

    60% {
        -webkit-transform: translateY(-17.7em);
    }

    70% {
        -webkit-transform: translateY(-20.65em);
    }

    80% {
        -webkit-transform: translateY(-23.6em);
    }

    90% {
        -webkit-transform: translateY(-26.55em);
    }

    100% {
        -webkit-transform: translateY(-29.5em);
    }
}

@keyframes scrollText1 {
    0% {
        transform: translateY(0em);
    }

    10% {
        transform: translateY(-2.95em);
    }

    20% {
        transform: translateY(-5.9em);
    }

    30% {
        transform: translateY(-8.85em);
    }

    40% {
        transform: translateY(-11.8em);
    }

    50% {
        transform: translateY(-14.75em);
    }

    60% {
        transform: translateY(-17.7em);
    }

    70% {
        transform: translateY(-20.65em);
    }

    80% {
        transform: translateY(-23.6em);
    }

    90% {
        transform: translateY(-26.55em);
    }

    100% {
        transform: translateY(-29.5em);
    }
}

.box3 {
    position: relative;
    left: 0px;
    overflow: hidden;
    height: 17.5em;
    border:1px solid #ccc;
}

.border3 {
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    top:0;
    /*-webkit-animation: scrollText1 20s infinite cubic-bezier(1,0,0.5,0);
    animation: scrollText1 20s infinite cubic-bezier(1,0,0.5,0);*/
}

    .border3 div {
    }

    .border3:hover {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
    }
